# =========================
# Excel Files
# =========================
*.xlsx
*.xls
*.xlsm
~$*

# =========================
# Power BI Files
# =========================
*.pbix
*.pbit

# =========================
# Temporary / System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Backup / Temp Files
# =========================
*.bak
*.backup
*.old
*.tmp
*.log
